nav {
  display: block;
  position: relative;
  top: 135px;
  right: 110px;
}
ul {
  padding: 0;
  width: 115px;
  height: 234px;
  background: #4B0082;
  list-style: none;
  overflow: hidden;
  border: 1px solid orange;
}

a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
  padding: 0.5em 0;
  font-size: 2em;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  font-family: monospace;
}
a:hover {
  color: #800080;
}
ul:hover{
	transition:1s;
	border: 1px solid green;
}